---
import Layout from '../../layouts/Layout.astro';
import { HERBS_SPECIES } from '../../../data/herbs/herbs';

export function getStaticPaths() {
  return (Object.entries(HERBS_SPECIES)).map(([herbId]) => ({
    params: { herbId },
    props: {species: HERBS_SPECIES[herbId] },
  }));
}

const { species } = Astro.props;
---
<Layout title={species.name}>
  <h1>{ species.name }</h1>
  <p>Rayon pour l'eau : {species.waterRange}</p>
  <p>Hauteur des feuilles : {species.maxLeaves}</p>
  <h2>Feuillage</h2>
  <p>{ JSON.stringify(species.leaves) }</p>
  <h2>Racines</h2>
  <p>{ JSON.stringify(species.roots) }</p>
  <h2>Propagation</h2>
  <p>{species.propagation.rate}/cycle, rayon {species.propagation.range}</p>
</Layout>