---
import {ANIMALS_SPECIES} from '../../data/animals/animals'
import {TREES_SPECIES} from '../../data/trees/trees'
import {HERBS_SPECIES} from '../../data/herbs/herbs'
import {MUSHROOMS_SPECIES} from '../../data/mushrooms/mushrooms'
import {CONCEPTS} from '../../data/concepts'

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{title} · Echo-Rio-Pedia</title>
  </head>
  <body>
		<nav id="header">
			<a href="/">Echo-Rio-Pedia</a>
		</nav>
    <nav id="sidebar">
			<ul>
				<li>
					<a href="/concepts/animal">Animaux</a>
					<ul>
						{Object.entries(ANIMALS_SPECIES).map(([
							animalId,
							species
						]) => (
							<li>
								<a href={`/animals/${animalId}`}>{species.name}</a>
							</li>
						))}
					</ul>
				</li>
			</ul>
			<ul>
				<li>
					<a href="/concepts/tree">Arbres</a>
					<ul>
						{Object.entries(TREES_SPECIES).map(([
							treeId,
							species
						]) => (
							<li>
								<a href={`/trees/${treeId}`}>{species.name}</a>
							</li>
						))}
					</ul>
				</li>
			</ul>
			<ul>
				<li>
					<a href="/concepts/herb">Herbes</a>
					<ul>
						{Object.entries(HERBS_SPECIES).map(([
							herbId,
							species
						]) => (
							<li>
								<a href={`/herbs/${herbId}`}>{species.name}</a>
							</li>
						))}
					</ul>
				</li>
			</ul>
			<ul>
				<li>
					<a href="/concepts/mushroom">Champignons</a>
					<ul>
						{Object.entries(MUSHROOMS_SPECIES).map(([
							mushroomId,
							species
						]) => (
							<li>
								<a href={`/mushrooms/${mushroomId}`}>{species.name}</a>
							</li>
						))}
					</ul>
				</li>
			</ul>
			<ul>
				<li>
					<a href="/concepts/concept">Concept</a>
					<ul>
						{Object.entries(CONCEPTS).map(([
							conceptId,
							concept
						]) => (
							<li>
								<a href={`/concepts/${conceptId}`}>{concept.name}</a>
							</li>
						))}
					</ul>
				</li>
			</ul>
    </nav>
		<slot />
    <footer>
			Concept et développement : Romaric Ruga (
				<a href="Imrok.fr">créativité</a>,
				<a href="Rimarok.com">développement web</a>
			)
		</footer>
  </body>
</html>